body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.action-button {
    background-color: #ff6f61;
    color: #121212;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #ffa07a;
}

.no-results {
    text-align: center;
    font-size: 1.2em;
    color: #ff6f61;
}

.back-to-home {
    text-align: center;
    margin-top: 30px;
}

.back-to-home a {
    color: #ff6f61;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.back-to-home a:hover {
    color: #ffa07a;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

.popup-content {
    background-color: #2c2c2c;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    position: relative;
    text-align: center;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ff6f61;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
}

.popup-content .close:hover {
    color: #ffa07a;
}

.popup-content h2 {
    margin-bottom: 20px;
    color: #ff6f61;
}

.popup-content label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    text-align: left;
}

.popup-content input[type="text"] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #ff6f61;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #f0f0f0;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
}

.popup-content input[type="text"]:focus {
    border-color: #ffa07a;
}

.popup-content button {
    background-color: #ff6f61;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s;
}

.popup-content button:hover {
    background-color: #ffa07a;
}


h1 {
    color: #000000;
}

p {
    color: #000000;
}
